<div class="flex flex-col items-center h-[calc(100%-64px)] justify-center gap-5 bg-slate-600">
  <h1 class="font-bold text-8xl text-slate-100 text-center select-none"> Color Collection </h1>
  <h2 class="font-medium text-4xl text-slate-100 text-center select-none"> A collection of desirable colors in CSS </h2>
  <div class="flex gap-8">
    <%= link_to "See all colors", "#", class: "text-2xl bg-slate-700 rounded-md text-white px-3.5 py-2 hover:ring-2 ring-slate-500" %>
    <%= link_to "Add color", "#", class: "text-2xl bg-slate-700 rounded-md text-white px-3.5 py-2 hover:ring-2 ring-slate-500" %>
  </div>
</div>
