<% if flash[:success] %>
  <div class="bg-slate-700 flex w-fit rounded border-2 border-green-400 m-aut m-auto my-6">
    <div class="w-20 bg-green-400 text-xl flex justify-center items-center p-6">
      <div class="border-2 rounded-full p-4 h-12 w-12 flex justify-center items-center border-white text-white">&#10003;</div>
    </div>
    <div class="p-4 flex flex-col justify-center text-slate-300">
      <p class="font-medium text-xl">SUCCESS</p>
      <p class="text-lg"> <%= flash[:success] %></p>
    </div>
  </div>
<% end %>
