<div class="h-[calc(100%-64px)] bg-slate-600">
  <h1 class="text-5xl font-bold text-white text-center p-6">All Colors</h1>
  <div class="flex gap-6 flex-wrap bg-slate-700 rounded-md mx-12 p-6">
    <% @colors.each do |color|%>
      <div class="flex flex-col justify-center items-center">
        <div class="h-24 w-24 bg-[#<%= color.hex%>]" ></div>
        <%= link_to color.name, color_path(color), class: "text-slate-200 hover:underline"%>
      </div>
    <%end%>
  </div>
</div>
