<div class="h-[calc(100%-88px)] bg-slate-600 p-4 overflow-auto">
  <h1 class="text-5xl font-bold text-white text-center">All Colors</h1>
  <%= render 'shared/success_flash'%>
  <div class="flex gap-6 flex-wrap bg-slate-700 rounded-md p-6 w-fit m-auto mt-6 justify-around">
    <% @colors.each do |color|%>
      <div class="flex flex-col justify-center items-center">
        <div class="h-32 w-32 rounded-md" style="background-color: #<%= color.hex %>" ></div>
        <%= link_to color[:name], color, class: "text-slate-200 hover:underline"%>
      </div>
    <%end%>
  </div>
</div>
